<div class="container" style="padding:20px;">
	<h1 style="text-align:center;">
		<a href="/person/index">Post data manager.</a><br/>
	</h1>
	<div>
		<nav class = "menu_nav_bar">
			<a routerLink="/person/index" class="btn btn-danger">POSTS</a>
			<a routerLink="/person/index" class="btn btn-primary">CURRENT_POST</a>
			<a routerLink="/person/create" class="btn btn-success">CREATE</a>
			<!-- <a href="/create">create</a> -->
			<!-- <button>asdfasdf</button> -->
		</nav>
	</div>
	
	<hr>
  <main>
  <router-outlet></router-outlet>
  </main>
</div>